<div ng-if="$ctrl.detectMobile.isDesktop" class="full" ng-class="{'lastAdvisorRow': $last, 'notLastAdvisorRow': !$last}" ng-repeat="element in $ctrl.service[$ctrl.service.objectName] | limitTo:$ctrl.service.numPerPage:($ctrl.service.currentPage-1)*$ctrl.service.numPerPage track by $index">
    {{element.firstName}} {{element.lastName}}
    <span style="float:right;">{{element.branch.city}}, {{element.branch.provinceAbbr}}<img style='margin-left:30px' src="assets/images/circleChevron.png" /></span>
</div>