<nav id="nav" class="mobile" ng-click="Head.onDrawerClick($event)">
    <!-- <h2 class="iollogo" ><a title="{{ 'universal.aio-logo-text' | translate }}" ui-sref="main.aio" translate>universal.aio-logo-text</a></h2> -->
    <span class="iollogo" title="{{ 'universal.aio-logo-text' | translate }}" translate><img src="./assets/images/{{ 'navbar.aiologo-img' | translate }}" alt="{{ 'universal.aio-logo-text' | translate }}"/></span>

    <ul id="lang">
        <language-switcher></language-switcher>
    </ul>

    <ul class="main">
        <span>
            <li id="link-port" ng-click="Head.go('portfolio')" analytics-on analytics-event="click" analytics-category="NAVIGATION" analytics-label="Portfolio"><a title="{{ 'navbar.menu.portfolio' | translate }}"  translate>navbar.menu.page1</a></li>
            <li id="link-doc" ng-click="Head.go('documents')" analytics-on analytics-event="click" analytics-category="NAVIGATION" analytics-label="Documents"><a title="{{ 'navbar.menu.documents' | translate }}"  translate>navbar.menu.page2</a></li>
            <li id="link-prof" ng-click="Head.go('profile')" analytics-on analytics-event="click" analytics-category="NAVIGATION" analytics-label="Profile"><a title="{{ 'navbar.menu.profile' | translate }}" ui-sref="main.aio.profile.personal"  translate>navbar.menu.page3</a></li>
            <li id="link-portal" ng-if="Head.UserService.displayMyPortal" ci-form-poster ci-form-data-async-callback="Head.getSalesforceFormData">
                <a title="{{ 'navbar.menu.portal' | translate }}" href analytics-on analytics-event="click" analytics-category="NAVIGATION" analytics-label="My Portal">{{ 'navbar.menu.portal' | translate }}</a></li>
            <li id="link-calc" ng-click="Head.go('calculator')" analytics-on analytics-event="click" analytics-category="NAVIGATION" analytics-label="Calculators">
                <a title="{{ 'navbar.menu.calcualtors' | translate }}" target="_blank" translate>navbar.menu.page4</a></li>
        </span>
        <li><ci-help page="Main.pageStateResolver.activePageName" >{{ 'helpLabel' | translate }}</ci-help></li>
    </ul>
    <ul class="legal">
        <li><a target="_blank" title="{{ 'footer.linkText1' | translate }}" href="{{ 'footer.link1' | translate }}" class="over" translate>footer.linkText1</a></li>
        <li><a target="_blank" title="{{ 'footer.linkText2' | translate }}" href="{{ 'footer.link2' | translate }}" class="over" translate>footer.linkText2</a></li>
        <li><a target="_blank" title="{{ 'footer.linkText3' | translate }}" href="{{ 'footer.link3' | translate }}" class="over" translate>footer.linkText3</a></li>
        <li><a target="_blank" title="{{ 'footer.linkText4' | translate }}" href="{{ 'footer.link4' | translate }}" class="over" translate>footer.linkText4</a></li>
    </ul>
    <ul class="other">

        <li><a target="_blank" href="{{ 'homeFooterLink' | translate }}" title="{{ 'homeFooterLink' | translate }}" translate>homeFooterLink</a></li>
    </ul>
</nav>
