<div style="margin-top:25px;">
    <label
        for="place"
        translate
    >
        branchList.autoComplete
    </label>
    <input
        id="place"
        places-auto-complete
        ng-model="$ctrl.location"
        component-restrictions="{country:'ca'}"
        on-place-changed="$ctrl.onPlaceChanged()"
        placeholder="{{'branchList.placeholder' | translate}}"
        role="textbox"
        aria-activedescendant
        aria-autocomplete="list"
        aria-live="polite"
    >
    <button
            tabindex="0"
            type="submit"
            ng-click="$ctrl.updatePlace()"
            id="btn-search"
            title="{{'branchList.search'| translate}}"
            translate
    >
        branchList.search
    </button>
</div>