<!-- <label for="place" translate>branchList.autoComplete</label> -->
<input id="place" enter-key="$ctrl.updatePlace()" ng-model="$ctrl.location" placeholder="{{'branchList.placeholder' | translate}}" role="textbox" aria-activedescendant aria-autocomplete="list" aria-live="polite" autofocus />
<button id="btn-clear" tabindex="0" type="button" ng-click="$ctrl.clearPlace()" title="{{'branchList.clear'| translate}}" translate>branchList.clear</button>
<button id="btn-search" tabindex="0" type="button" ng-click="$ctrl.updatePlace()" title="{{'branchList.search'| translate}}" translate>branchList.search</button>
