<div class="container" role="footer">
    <nav id="footernav" class="full" ng-if="$ctrl.isDesktop">
        <ul>

            <li><a title="{{ 'footer.link1' | translate }}" target="_blank" href="{{'footer.link1' | translate}}" translate>footer.linkText1</a></li>
            <li><a title="{{ 'footer.link2' | translate }}" target="_blank" href="{{'footer.link2' | translate}}" translate>footer.linkText2</a></li>
            <li><a title="{{ 'footer.link3' | translate }}" target="_blank" href="{{'footer.link3' | translate}}" translate>footer.linkText3</a></li>
            <li><a title="{{ 'footer.link4' | translate }}" target="_blank" href="{{'footer.link4' | translate}}" translate>footer.linkText4</a></li>

        </ul>
    </nav>

    <p class="copyright" translate="copyright"
       translate-value-year="{{::( $ctrl.year )}}"></p>
    <span class="logo" title="{{ 'navbar.logo-text' | translate }}" translate></span>
</div>
