<ci-loader loading="$ctrl.branchListService.branchListLoading || $ctrl.advisorService.isLoading">

<div ng-class="$ctrl.pageStateResolver.activePageName" autoscroll="true" id="branchDetails">
    <div class="full" ng-if="$ctrl.detectMobile.isDesktop">
        <h2 translate>branchDetail.title</h2><br>

        <!-- BRANCH DETAILS -->
        <div>
            <div>
                <span ng-if="$ctrl.branchDetailService.branchDetail.dealerShip">{{$ctrl.branchDetailService.branchDetail.dealerShip==="ACM" ? "Assante Capital Management Ltd.": "Assante Financial Management Ltd."}}<br></span>
                <span ng-if="$ctrl.branchDetailService.branchDetail.address1">{{$ctrl.branchDetailService.branchDetail.address1}},</span>
                <span ng-if="$ctrl.branchDetailService.branchDetail.address2">{{$ctrl.branchDetailService.branchDetail.address2}}<br></span>
                <span ng-if="$ctrl.branchDetailService.branchDetail.city">{{$ctrl.branchDetailService.branchDetail.city}},</span>
                <span ng-if="$ctrl.branchDetailService.branchDetail.provinceAbbr">{{$ctrl.branchDetailService.branchDetail.provinceAbbr}}</span>
                <span ng-if="$ctrl.branchDetailService.branchDetail.postalCode">{{$ctrl.branchDetailService.branchDetail.postalCode}}</span>
            </div>
            <br>
            <table>
                <tr ng-if="$ctrl.branchDetailService.branchDetail.phone">
                    <td translate>branchDetail.telephone</td>
                    <td class="price extra">{{$ctrl.branchDetailService.branchDetail.phone}}</td>
                </tr>

                <tr ng-if="$ctrl.branchDetailService.branchDetail.fax">
                    <td translate>branchDetail.fax</td>
                    <td>{{$ctrl.branchDetailService.branchDetail.fax}}</td>
                </tr>
            </table>
            <br>


           <table ng-repeat="branchManager in $ctrl.branchDetailService.branchDetail.branchManagers | orderBy:['lastName', 'firstName']:false">
               <tr ng-if="branchManager.firstName || branchManager.lastName">
                    <td translate>branchDetail.branchManagerName</td>
                    <td>{{branchManager.firstName}} {{branchManager.lastName}}</td>
                </tr>
                <tr ng-if="branchManager.phone">
                    <td translate>branchDetail.telephone</td>
                    <td>{{branchManager.phone}}</td>
                </tr>
                <tr ng-if="branchManager.email">
                    <td translate>branchDetail.email</td>
                    <td><a href="mailto:{{branchManager.email}}">{{branchManager.email}}</a></td>
                </tr>
               <tr><td><br/></td></tr>
            </table>

            <br>

            <google-map address="$ctrl.branchDetailService.branchDetail.fullAddress" user-marker="$ctrl.branchDetailService.branchDetail.userMarker"></google-map><br>

            <h2 translate>branchDetail.branchAssociates</h2>
            <ul ng-repeat="advisor in $ctrl.branchDetailService.branchDetail.partialAdvisorsInfo | orderBy:['lastName', 'firstName']:false">

                    <div ng-show="$ctrl.perviousStateIsLocationSearch">
                        <a ui-sref="main.advisorLocator.advisorDetails({id: advisor.id})"  target="_blank"><span ng-if="advisor.commonName">{{advisor.commonName}}</span>
                            <span ng-if="!advisor.commonName">{{advisor.firstName}}</span>
                            {{advisor.lastName}}</a>
                    </div>

                <div ng-show="!$ctrl.perviousStateIsLocationSearch">
                    <a ui-sref="main.advisorLocator.advisorDetails({id: advisor.id})" target="_blank"><span ng-if="$ctrl.advisorDetailService.advisorDetail.showCommon">{{advisor.commonName}}</span>
                    <span ng-if="!$ctrl.advisorDetailService.advisorDetail.showCommon">{{advisor.firstName}}</span>
                    {{advisor.lastName}}</a>
                </div>

            </ul>
        </div>

    </div>

</div>

</ci-loader>
