.carousel { position:relative; height:100%;
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
    .carousel-inner {
        position:relative;
        width:100%;
        height:100%;
        overflow:hidden;
        > .item {
            display: none;
            position: relative;
            height:100%;
            -webkit-transition: 0.6s ease-in-out left;
            -o-transition: 0.6s ease-in-out left;
            transition: 0.6s ease-in-out left;
            > img, > a > img {
                line-height: 1;
            }
            .image { height:100%;
                img {
                    // min-width:100%;
                    height:100%;
                    min-height:180px;
                    margin:90px 0 0 50% !important;
                    transform:translate(-50%,-50%);
                    transition: all ease 0.5s;
                    @media screen and (min-width: 860px) {
                        min-height:200px;
                        margin:100px 0 0 50% !important;
                    }
                    @media screen and (min-width: 950px) {
                        min-height:230px;
                        margin:115px 0 0 50% !important;
                    }
                    @media screen and (min-width: 1024px) {
                        width:100%;
                        height:auto;
                    }
                }
            }
        }
        > .active, > .next, > .prev {
            display: block;
        }
        > .active {
            left: 0;
        }
        > .next, > .prev {
          position: absolute;
          top: 0;
          width: 100%;
        }
        > .next {
          left: 100%;
        }
        > .prev {
          left: -100%;
        }
        > .next.left, > .prev.right {
          left: 0;
        }
    }
    .carousel-control {
        height:100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 10%;
        opacity: 0.5;
        filter: alpha(opacity=50);
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        background-color: rgba(0, 0, 0, 0);
        &.left {
            background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.0001) 100%);
            background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.0001) 100%);
            background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.0001)));
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.0001) 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
        }
        &.right {
            left: auto;
            right: 0;
            background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.4) 100%);
            background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.4) 100%);
            background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.4)));
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.4) 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        }
        &:hover, &:focus {
            // outline: 0;
            color: #ffffff;
            text-decoration: none;
            opacity: 0.9;
            filter: alpha(opacity=90);
        }
        .icon-prev, .icon-next, .glyphicon-chevron-left, .glyphicon-chevron-right {
            position: absolute;
            top: 50%;
            margin-top: -10px;
            z-index: 5;
            display: inline-block;
        }
        .icon-prev, .glyphicon-chevron-left {
            left: 50%;
            margin-left: -10px;
        }
        .icon-next, .glyphicon-chevron-right {
            right: 50%;
            margin-right: -10px;
        }
        .icon-prev, .icon-next {
            width: 20px;
            height: 20px;
            line-height: 1;
            font-family: serif;
        }
        .icon-prev:before {
            content: '\2039';
        }
        .icon-next:before {
            content: '\203a';
        }
        .glyphicon {
            // font-family:"Material Icons";
        }
        .glyphicon-chevron-left:before {
            // content: 'keyboard_arrow_left';
            content: '\2039';
        }
        .glyphicon-chevron-right:before {
            // content: 'keyboard_arrow_right';
            content: '\203a';
        }
    }
    .carousel-indicators {
        position: absolute;
        bottom: 5px;
        left: 50%;
        z-index: 15;
        width: 60%;
        margin-left: -30%;
        padding-left: 0;
        list-style: none;
        text-align: center;
        li {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 2px;
            text-indent: -999px;
            border: 1px solid #ffffff;
            border-radius: 10px;
            cursor: pointer;
            background-color: #000 \9;
            background-color: rgba(0, 0, 0, 0);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        }
        .active {
            // margin: 0;
            // width: 12px;
            // height: 12px;
            background-color: #ffffff;
        }
    }
    @media screen and (min-width: 768px) {
        .carousel-control {
            .glyphicon-chevron-left, .glyphicon-chevron-right, .icon-prev, .icon-next {
                width: 40px;
                height: 40px;
                margin-top: -15px;
                font-size: 50px;
                line-height: 30px;
            }
            .glyphicon-chevron-left, .icon-prev {
                margin-left: -30px;
            }
            .glyphicon-chevron-right, .icon-next {
                margin-right: -30px;
            }
        }
        // .carousel-caption {
        //     left: 20%;
        //     right: 20%;
        //     padding-bottom: 30px;
        // }
        // .carousel-indicators {
        //     top: 200px;
        // }
    }
}
