<!-------------Start FYI's Messages ------------------->
<fyi-notifications></fyi-notifications>
<!-------------End FYI's Messages ------------------->
<!-------------Start HTTP Error Messages ------------------->
<div id="notification_errors" ng-if="Notes.NotificationService.messages.httpErrorMessages" aria-hidden="{{Notes.NotificationService.isEmpty(Notes.NotificationService.messages.httpErrorMessages)}}"
     role="{{Notes.NotificationService.isEmpty(Notes.NotificationService.messages.httpErrorMessages) ? undefined : 'alert'}}" aria-live="assertive" ng-messages="Notes.NotificationService.messages.httpErrorMessages" ng-messages-multiple>

    <!------------------ AUTH EVENTS ------------------>
    <div class="notification info" ng-message="auth-logout-success">
        <p translate>{{'notifications.http-errors.auth-logout-success'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('auth-logout-success')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E401001">
        <p translate>{{'notifications.http-errors.E401001'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E401001')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E401002">
        <p translate>{{'notifications.http-errors.E401002'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E401002')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E401003">
        <p translate>{{'notifications.http-errors.E401003'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E401003')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E401004">
        <p translate>{{'notifications.http-errors.E401004'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E401004')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E401005">
        <p translate>{{'notifications.http-errors.E401005'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E401005')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification info" ng-message="E401006">
        <p translate>{{'notifications.http-errors.auth-logout-success'}}</p>
        <a href class="dismiss" alt="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E401006')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E401007">
        <p translate>{{'notifications.http-errors.E401007'}}</p>
        <a href class="dismiss" alt="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E401007')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <!------------------ END: AUTH EVENTS ------------------>

    <!------------------ COMPLIANCE EVENTS ------------------>

    <div class="notification error" ng-message="E409001">
        <p translate>{{'notifications.http-errors.E409001'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409001')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409002">
        <p translate>{{'notifications.http-errors.E409002'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409002')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409003">
        <p translate>{{'notifications.http-errors.E409003'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409003')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409004">
        <p translate>{{'notifications.http-errors.E409004'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409004')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409005">
        <p translate>{{'notifications.http-errors.E409005'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409005')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409006">
        <p translate>{{'notifications.http-errors.E409006'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409006')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409007">
        <p translate>{{'notifications.http-errors.E409007'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409007')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409008">
        <p translate>{{'notifications.http-errors.E409008'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409008')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409009">
        <p translate>{{'notifications.http-errors.E409009'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409009')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409039">
        <p translate>{{'notifications.http-errors.E409039'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409039')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <!------------------ END: COMPLIANCE EVENTS ------------------>

    <!------------------ REGISTRATION EVENTS ------------------>

    <div class="notification error" ng-message="E409010">
        <p translate>{{'notifications.http-errors.E409010'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409010')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409011">
        <p translate>{{'notifications.http-errors.E409011'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409011')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409012">
        <p translate>{{'notifications.http-errors.E409012'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409012')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409013">
        <p translate>{{'notifications.http-errors.E409013'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409013')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409014">
        <p translate>{{'notifications.http-errors.E409014'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409014')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409015">
        <p translate>{{'notifications.http-errors.E409015'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409015')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409016">
        <p translate>{{'notifications.http-errors.E409016'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409016')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409017">
        <p translate>{{'notifications.http-errors.E409017'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409017')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409018">
        <p translate>{{'notifications.http-errors.E409018'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409018')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409019">
        <p translate>{{'notifications.http-errors.E409019'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409019')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409020">
        <p translate>{{'notifications.http-errors.E409020'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409020')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409021">
        <p translate>{{'notifications.http-errors.E409021'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409021')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>

    <!------------------ END: REGISTRATION EVENTS ------------------>

    <!------------------ MYPORTAL / SALESFORCE EVENTS ------------------>
    <div class="notification error" ng-message="E409023">
        <p translate>{{'notifications.http-errors.E409023'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409023')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409024">
        <p translate>{{'notifications.http-errors.E409024'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409024')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409025">
        <p translate>{{'notifications.http-errors.E409025'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409025')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409026">
        <p translate>{{'notifications.http-errors.E409026'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409026')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <!------------------ END: MYPORTAL / SALESFORCE EVENTS ------------------>

    <!------------------ FORGOTTEN PASSWORD EVENTS ------------------>
    <div class="notification error" ng-message="E409031">
        <p translate>{{'notifications.http-errors.E409031'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409031')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409032">
        <p translate>{{'notifications.http-errors.E409032'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409032')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <!------------------ END: FORGOTTEN PASSWORD EVENTS ------------------>

    <!------------------ RETRIEVE WEB ID EVENTS ------------------>
    <div class="notification error" ng-message="E409033">
        <p translate>{{'notifications.http-errors.E409033'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409033')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409034">
        <p translate>{{'notifications.http-errors.E409034'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409034')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409038">
        <p translate>{{'notifications.http-errors.E409038'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409038')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <!------------------ END: RETRIEVE WEB ID EVENTS ------------------>

    <!------------------ CORE EVENTS ------------------>
    <div class="notification error" ng-message="core-generic-failure">
        <p translate>{{'notifications.http-errors.core-generic-failure'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('core-generic-failure')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E403001">
        <p translate>{{'notifications.http-errors.E403001'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E403001')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E403002">
        <p translate>{{'notifications.http-errors.E403002'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E403002')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E403003">
        <p translate>{{'notifications.http-errors.E403003'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E403003')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E403005">
        <p translate>{{'notifications.http-errors.E403005'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E403005')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>

    <!------------------ END: CORE EVENTS ------------------>

    <!------------------ PROFILE EVENTS ------------------>
    <div class="notification error" ng-message="E409037">
        <p translate>{{'notifications.http-errors.E409037'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409037')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span>
            <em class="material-icons">close</em></a>
    </div>
    <!------------------ END: PROFILE EVENTS ------------------>

    <!------------------ FEEDBACK EVENTS ------------------>
    <div class="notification error" ng-message="E409035">
        <p translate>{{'notifications.http-errors.E409035'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409035')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span>
            <em class="material-icons">close</em></a>
    </div>
    <!------------------ END: FEEDBACK EVENTS ------------------>

    <!------------------ ACCOUNT EVENTS ------------------>
    <div class="notification error" ng-message="E409022">
        <p translate>{{'notifications.http-errors.E409022'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409022')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409027">
        <p translate>{{'notifications.http-errors.E409027'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409027')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409029">
        <p translate>{{'notifications.http-errors.E409029'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409029')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409030">
        <p translate>{{'notifications.http-errors.E409030'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409030')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification error" ng-message="E409036">
        <p translate>{{'notifications.http-errors.E409036'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissHttpMessage('E409036')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <!--<div class="notification error" ng-message="account-no-transactions">
        <p translate>{{'notifications.fe-messages.account-no-transactions'}}</p>
        <a class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissFeMessage('account-no-transactions')"><em
                class="material-icons">close</em></a>
    </div>-->

    <!------------------ END: ACCOUNT EVENTS ------------------>

</div>

<!-------------End HTTP Error Messages ------------------->

<!-------------Start FE Error Messages ------------------->
<div id="fe_msgs" ng-if="Notes.NotificationService.messages.FeMessages" aria-hidden="{{Notes.NotificationService.isEmpty(Notes.NotificationService.messages.FeMessages)}}"
     role="{{Notes.NotificationService.isEmpty(Notes.NotificationService.messages.FeMessages) ? undefined : 'alert'}}" aria-live="assertive" ng-messages="Notes.NotificationService.messages.FeMessages" ng-messages-multiple>


    <!------------------ COMPLIANCE EVENTS ------------------>
    <div class="notification warning" ng-message="compliance-cif-no-selection">
        <p translate>{{'notifications.fe-messages.compliance-cif-no-selection'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissFeMessage('compliance-cif-no-selection')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span>
            <em class="material-icons">close</em>
        </a>
    </div>
    <div class="notification warning" ng-message="compliance-ua-no-selection">
        <p translate>{{'notifications.fe-messages.compliance-ua-no-selection'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissFeMessage('compliance-ua-no-selection')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <!------------------ END: COMPLIANCE EVENTS ------------------>

    <!------------------ PROFILE EVENTS ------------------>
    <div class="bannermsg success" ng-message="profile-success-email-changes">
        <p translate>{{'notifications.fe-messages.profile-success-email'}}</p>
        <a  href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissFeMessage('profile-success-email-changes'); Main.findNextFocusable()">
            <span hidden >{{'navbar.dismiss-message' | translate }}</span><em class="material-icons">close</em></a>
    </div>
    <div class="bannermsg success" ng-message="profile-success-edd-changes">
        <p translate>{{'notifications.fe-messages.profile-success-edd'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissFeMessage('profile-success-edd-changes'); Main.findNextFocusable();">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>

    <div class="bannermsg success" ng-message="profile-success-security-setup-changes">
        <p translate>{{'notifications.fe-messages.profile-success-security'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissFeMessage('profile-success-security-setup-changes'); Main.findNextFocusable();">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <!------------------ END: PROFILE EVENTS ------------------>

    <!------------------ FEEDBACK EVENTS ----------------->
    <div class="bannermsg success" ng-message="feedback-success">
        <p translate>{{'notifications.fe-messages.feedback-success'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissFeMessage('feedback-success')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <!------------------ END FEEDBACK -------------------->

    <!------------------ REGISTRATION EVENTS ------------------>

    <div class="notification info" ng-message="cancel-no-login-registration">
        <p translate>{{'notifications.fe-messages.cancel-no-login-registration'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissFeMessage('cancel-no-login-registration')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification info" ng-message="refresh-registration">
        <p translate>{{'notifications.fe-messages.refresh-registration'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissFeMessage('refresh-registration')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>

    <!------------------ END REGISTRATION EVENTS ------------------>

    <!------------------ RETRIEVE WEB ID EVENTS ------------------>


    <div class="notification info" ng-message="cancel-no-login-webid" aria-relevant="text">
        <p translate>{{'notifications.fe-messages.cancel-no-login-webid'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissFeMessage('cancel-no-login-webid')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification info" ng-message="refresh-web-id-retrieval">
        <p translate>{{'notifications.fe-messages.refresh-web-id-retrieval'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissFeMessage('refresh-web-id-retrieval')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <!------------------ END RETRIEVE WEB ID EVENTS ------------------>

    <!------------------ FORGOTTEN PASSWORD EVENTS ------------------>

    <div class="notification success" ng-message="forgottenpassword-success">
        <p translate>{{'notifications.fe-messages.forgottenpassword-success'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissFeMessage('forgottenpassword-success')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>

    <div class="notification info" ng-message="cancel-no-login-password">
        <p translate>{{'notifications.fe-messages.cancel-no-login-password'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissFeMessage('cancel-no-login-password')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <div class="notification info" ng-message="refresh-forgotten-password">
        <p translate>{{'notifications.fe-messages.refresh-forgotten-password'}}</p>
        <a href class="dismiss" title="{{ 'navbar.dismiss-message' | translate }}" ng-click="Notes.dismissFeMessage('refresh-forgotten-password')">
            <span hidden>{{ 'navbar.dismiss-message' | translate }}</span><em
                class="material-icons">close</em></a>
    </div>
    <!------------------ END FORGOTTEN PASSWORD EVENTS ------------------>


</div>
<!-------------End FE Error Messages ------------------->
