<div ng-class="$ctrl.pageStateResolver.activePageName" autoscroll="true" id="advisorList" class="locatorpage">
    <!-- <h2 translate>pages.advisorList.title</h2> -->
    <div id="searchoptions">
        <search-by></search-by>
    </div>
    <div id="filters">
        <search-bar service="$ctrl.service"></search-bar>
        <div id="options">
            <span id="filtersLabel" translate>pages.advisorList.filtersLabel</span>
            <label for="provselect" translate>aria.nameSearch.filters.province</label>
            <select id="provselect" aria-label="{{'aria.nameSearch.filters.province' | translate}}" ng-model="$ctrl.service.filterRunnerService.filters.province.value" ng-change="$ctrl.service.updateFilters($ctrl.service.filters.province)">
                <option ng-repeat="province in $ctrl.service.filterRunnerService.filters.province.options" value="{{province}}">{{'pages.advisorList.filterOptions.province.' + province | translate}}</option>
            </select>
            <label for="langselect" translate>aria.nameSearch.filters.language</label>
            <select id="langselect" aria-label="{{'aria.nameSearch.filters.language' | translate}}" ng-model="$ctrl.service.filterRunnerService.filters.lang.value" ng-change="$ctrl.service.updateFilters($ctrl.service.filters.lang)">
                <option ng-repeat="lang in $ctrl.service.filterRunnerService.filters.lang.options" value="{{lang}}">{{'pages.advisorList.filterOptions.lang.' + lang | translate}}</option>
            </select>
            <button aria-label="{{'aria.nameSearch.clearButton' | translate}}" ng-click="$ctrl.service.clearFilters()">{{'pages.advisorList.clearFilterLabel' | translate}}</button>
        </div>
    </div>
    <div id="results">
        <paginator-infinite-scroll service="$ctrl.service">
        </paginator-infinite-scroll>
    </div>
</div>
