<!-- <select role="listbox" id="searchby" aria-label="Search for Advisors by" aria-activedescendant="searchby-1" style="margin-top:25px;" ng-model="$ctrl.searchBy" ng-change="$ctrl.navigate($ctrl.searchBy)">
    <option role="option" id="searchby-1" value="name" translate>{{'search.byName' | translate }}</option>
    <option role="option" id="searchby-2" value="location" translate>search.byLocation</option>
</select> -->

<ul id="searchby" aria-label="Search for Advisors by" aria-activedescendant="searchbyname" ng-model="$ctrl.searchBy">
    <li id="searchbyname"><a ui-sref="main.advisorLocator.advisorList">{{'search.byName' | translate }}</a></li>
    <li id="searchbylocation"><a ui-sref="main.advisorLocator.branchList">{{'search.byLocation' | translate}}</a></li>
</ul>
