@import "node_modules/normalize-scss/sass/normalize/import-now";
@import "node_modules/zen-grids/sass/zen-grids";

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i|Montserrat:400,700|Great+Vibes|Material+Icons);

// $zen-grid-width: 1160px;
$zen-columns: 12;
$zen-gutters: 2%;
$zen-gutter-method: margin;

$blue: #003e51;
$orange: #cd5806;
$vlblue: #e8e9eb;
$vlgold: #e0dfd5;
$gold: #a99a6f;

$text: #444;
$bg: #f9f9f9;
$bg_dark: #333;

*, *::before, *::after { box-sizing:border-box; }
* { -webkit-font-smoothing:antialiased; text-rendering:optimizeLegibility; }

html, body { background:$bg; color:$text; font:400 16px/1.4 'Open Sans',sans-serif; margin:0; padding:0; }

#advisorList { /*@include zen-grid-background();*/ @include zen-grid-container(); margin:0 auto; width:1160px;

  #filters { background:#fff; padding:$zen-gutters; width:100%;
    #input { display:inline-block; margin-right:$zen-gutters; width:70%;
      input { background:darken($bg,4%); border:0; border-radius:3px; line-height:2.2em; padding:0 8px; width:100%; }
    }
    #dropdowns, #button { display:inline-block; width:10%; }
  }

  #results { margin-top:2em; width:100%;
    #resultscontainer { @include zen-grid-background();
      .advisor { background:#fff; height:200px; margin-bottom:$zen-gutters;
        &:nth-child(3n+1) { @include zen-grid-item(4,1); @include zen-new-row(); }
        &:nth-child(3n+2) { @include zen-grid-item(4,5); }
        &:nth-child(3n+3) { @include zen-grid-item(4,9); }
        a { display:inline-block; height:100%; position:relative; text-decoration:none; width:100%;
          &:hover::after { color:$orange; content:'View details'; font-size:0.8em; position:absolute; right:20px; top:20px; }
        }
        .image { border-radius:60px; bottom:0; height:120px; margin:auto 0 auto 20px; overflow:hidden; position:absolute; top:0; width:120px;
          img { height:auto; left:50%; position:absolute; top:50%; transform:translate(-50%,-50%); width:100%; }
        }
        .copy { margin:60px 0 0 160px;
          p { margin:0;
            &.name { color:$gold; font:1.1em/1.2 'Montserrat',sans-serif; }
            &.location { color:$text; font-size:0.9em; }
          }
        }
      }
    }

    #pagination { clear:both; }
  }

}


/* TEMP STUFF */

header, footer { background:#eee; padding:20px; }

/* END TEMP STUFF */
