<ci-loader loading="$ctrl.isLoading" infinite-scroll="$ctrl.service.loadMore();" >
    <div style="margin-top:25px;border:solid black 1px;padding:25px;">
        <!--
        <div ng-if="$ctrl.detectMobile.isDesktop" class="full" ng-class="{'lastAdvisorRow': $last, 'notLastAdvisorRow': !$last}" ng-repeat="element in $ctrl.service[$ctrl.service.objectName] | limitTo:$ctrl.service.numPerPage:$ctrl.service.currentPage*$ctrl.service.numPerPage track by $index">
            {{element.firstName}} {{element.lastName}}
            <span style="float:right;">{{element.branch.city}}, {{element.branch.provinceAbbr}}<img style='margin-left:30px' src="assets/images/circleChevron.png" /></span>
        </div>
        -->
        <div ng-include="$ctrl.service.desktopTemplatePath"></div>
        <div ng-if="!$ctrl.detectMobile.isDesktop" ng-class="{'lastAdvisorRow': $last, 'notLastAdvisorRow': !$last}" ng-repeat="element in $ctrl.service[$ctrl.service.objectName] | limitTo:$ctrl.service.mobileMaxNumDisplay track by $index">
            <!--
            {{element.firstName}} {{element.lastName}}
            <span style="float:right;">{{element.branch.city}}, {{element.branch.provinceAbbr}}<img style='margin-left:30px' src="assets/images/circleChevron.png" /></span>
            -->
            <div ng-include="$ctrl.service.mobileTemplatePath"></div>
        </div>
    </div>
</ci-loader>