
<div ng-class="{'hideMap': ($ctrl.isLoading && $ctrl.locationList.length === 0), 'showMap': (!$ctrl.isLoading && $ctrl.locationList.length > 0)}">

    <div
        ng-if="$ctrl.address"
        id="linkToMap"
    >
        <a
            tabindex="0"
            title="{{ 'branchList.linkToMap' | translate }}"
            ng-href="{{$ctrl.linkToMap}}{{$ctrl.from}}/{{$ctrl.to}}?hl={{$ctrl.lang}}"
            analytics-on
            analytics-event="click"
            analytics-category="MAP"
            analytics-label="Map"
            target="_blank"
            translate
        >
            branchList.linkToMap
        </a>
    </div>
    <div id="loading" ng-if="!$ctrl.mapRendered" translate>
        branchList.waitForMapToRender
    </div>
    <div ng-class="{'hideMap': !$ctrl.mapRendered}" id="map">Please wait for map to load</div>
</div>
<ci-loader loading="$ctrl.isLoading && $ctrl.locationList.length === 0">
</ci-loader>
