<ci-loader loading="$ctrl.service.isLoading">
    <!-- <div id="resultmessage" ng-if="$ctrl.service[$ctrl.service.objectName].length > 0">
        {{$ctrl.service[$ctrl.service.objectName].length}} {{'searchResultsFound' | translate}}
    </div> -->
    <div id="resultscontainer" ng-if="$ctrl.service[$ctrl.service.objectName].length > 0">
        <div class="advisor"
             ng-if="$ctrl.detectMobile.isDesktop"
             class="full" ng-class="{'lastAdvisorRow': $last, 'notLastAdvisorRow': !$last}"
             ng-repeat="element in $ctrl.service[$ctrl.service.objectName] | limitTo:$ctrl.service.numPerPage:($ctrl.service.currentPage-1)*$ctrl.service.numPerPage track by $index">
            <div class="image">
              <a title="{{'aria.nameSearch.getAdvisorDetails' | translate:element}}"  ui-sref="main.advisorLocator.advisorDetails({id: element.id})">
                  <img ng-if="!element.hasPicture" alt="{{'profilePicturePlaceholder' | translate}}" aria-label="{{element.showCommon ? element.commonName + ' ' + element.lastName: element.firstName + ' ' + element.lastname | posession}} profile picture." src="assets/images/advisorHeadShot.svg" />
                  <img ng-if="element.hasPicture" err-src="assets/images/advisorHeadShot.svg" alt="{{'profilePicturePlaceholder' | translate}}" aria-label="{{element.showCommon ? element.commonName + ' ' + element.lastName: element.firstName + ' ' + element.lastname | posession}} profile picture." ng-src="{{$ctrl.PROFILE_PICTURE_BASE_PATH + element.id + '/profile-pic.jpg'}}" />
              </a>
            </div>
            <div class="copy">
              <p class="name"><a aria-label="{{'aria.nameSearch.getAdvisorDetails' | translate:element}}" translate-values="{ advisor: element.lastname }" ui-sref="main.advisorLocator.advisorDetails({id: element.id})"><span ng-if="element.showCommon">{{element.commonName}}</span><span ng-if="!element.showCommon">{{element.firstName}}</span> {{element.lastName}}</a></p>
              <p class="location">{{element.partialBranchInfo.city}}, {{element.partialBranchInfo.provinceAbbr}}</p>
                <p class="phone" ng-if="element.phone">{{element.phone}}</p>
                <p class="email" ng-if="element.email" ng-bind-html='element.email | clickableEmail'></p>
            </div>
        </div>

        <div ng-if="!$ctrl.detectMobile.isDesktop" infinite-scroll="$ctrl.service.loadMore();">
            <div class="advisor" ng-class="{'lastAdvisorRow': $last, 'notLastAdvisorRow': !$last}" ng-repeat="element in $ctrl.service[$ctrl.service.objectName] | limitTo:$ctrl.service.mobileMaxNumDisplay track by $index">
                <div class="image">
                  <a title="{{'aria.nameSearch.getAdvisorDetails' | translate:element}}"  ui-sref="main.advisorLocator.advisorDetails({id: element.id})">
                      <img ng-if="!element.hasPicture" alt="{{'profilePicturePlaceholder' | translate}}" aria-label="{{element.showCommon ? element.commonName + ' ' + element.lastName: element.firstName + ' ' + element.lastname | posession}} profile picture." src="assets/images/advisorHeadShot.svg" />
                      <img ng-if="element.hasPicture" err-src="assets/images/advisorHeadShot.svg" alt="{{'profilePicturePlaceholder' | translate}}" aria-label="{{element.showCommon ? element.commonName + ' ' + element.lastName: element.firstName + ' ' + element.lastname | posession}} profile picture." ng-src="{{$ctrl.PROFILE_PICTURE_BASE_PATH + element.id + '/profile-pic.jpg'}}" />
                  </a>
                </div>
                <div class="copy">
                  <p class="name"><a aria-label="{{'aria.nameSearch.getAdvisorDetails' | translate:element}}" translate-values="{ advisor: element.lastname }" ui-sref="main.advisorLocator.advisorDetails({id: element.id})"><span ng-if="element.showCommon">{{element.commonName}}</span><span ng-if="!element.showCommon">{{element.firstName}}</span> {{element.lastName}}</a></p>
                  <p class="location">{{element.partialBranchInfo.city}}, {{element.partialBranchInfo.provinceAbbr}}</p>
                    <p class="phone" ng-if="element.phone">{{element.phone}}</p>
                    <p class="email" ng-if="element.email" ng-bind-html='element.email | clickableEmail'></p>
                </div>
            </div>
        </div>
    </div>
    <div tab-index="0" id="nosearch" ng-if="!$ctrl.service[$ctrl.service.objectName].length" translate translate-compile>
        noSearchCriteria
    </div>

    <div
        ng-if="$ctrl.detectMobile.isDesktop && $ctrl.service[$ctrl.service.objectName].length > 0"
        id="pagination"
        uib-pagination
        template-url="app/features/components/paginatorInfiniteScroll/pagination.tpl.html"
        total-items="$ctrl.service[$ctrl.service.objectName].length"
        ng-model="$ctrl.service.currentPage"
        ng-change="$ctrl.service.pageChanged($ctrl.service.currentPage)"
        max-size="7"
        force-ellipses="true"
        items-per-page="$ctrl.service.numPerPage"
        previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
    >
  </div>
</ci-loader>
