<ci-loader loading="$ctrl.service.isLoading">
    <div id="resultmessage" ng-if="$ctrl.service[$ctrl.service.objectName].length > 0">
        {{$ctrl.service[$ctrl.service.objectName].length}} {{'searchResultsFound' | translate}}
    </div>
    <div id="resultscontainer" ng-if="$ctrl.service[$ctrl.service.objectName].length > 0">
        <!--
        <div ng-if="$ctrl.detectMobile.isDesktop" ng-include="$ctrl.service.desktopTemplatePath">
        -->
        <div ng-if="$ctrl.detectMobile.isDesktop">
            <div class="advisor"
                 ng-if="$ctrl.detectMobile.isDesktop"
                 class="full" ng-class="{'lastAdvisorRow': $last, 'notLastAdvisorRow': !$last}"
                 ng-repeat="element in $ctrl.service[$ctrl.service.objectName] | limitTo:$ctrl.service.numPerPage:($ctrl.service.currentPage-1)*$ctrl.service.numPerPage track by $index">
                <div class="image">
                  <a title="{{'aria.namesearch.getAdvisorDetails' | translate:element}}"  ui-sref="main.advisorLocator.advisorDetails({id: element.id})">
                    <img ng-if="!element.profilePictureUrl" aria-label="{{element.showCommon ? element.commonName + ' ' + element.lastName: element.firstName + ' ' + element.lastname | posession}} profile picture." src="assets/images/advisorHeadShot.png" />
                    <img ng-if="element.profilePictureUrl" aria-label="{{element.showCommon ? element.commonName + ' ' + element.lastName: element.firstName + ' ' + element.lastname | posession}} profile picture." ng-src="{{element.profilePictureUrl}}" />
                  </a>
                </div>
                <div class="copy">
                  <!--
                              element.showCommon ? element.commonName + ' ' + element.lastName: element.firstName + ' ' + element.lastname
                  -->
                  <p class="name"><a aria-label="{{'aria.namesearch.getAdvisorDetails' | translate:element}}" translate-values="{ advisor: element.lastname }" ui-sref="main.advisorLocator.advisorDetails({id: element.id})"><span ng-if="element.showCommon">{{element.commonName}}</span><span ng-if="!element.showCommon">{{element.firstName}}</span> {{element.lastName}}</a></p>
                  <p class="location">{{element.partialBranchInfo.city}}, {{element.partialBranchInfo.provinceAbbr}}</p>
                    <p class="phone" ng-if="element.phone" ng-bind-html='element.phone | clickablePhone'></p>
                    <p class="email" ng-if="element.email" ng-bind-html='element.email | clickableEmail'></p>
                </div>
            </div>

        </div>
        <div ng-if="!$ctrl.detectMobile.isDesktop">
            <div infinite-scroll="$ctrl.service.loadMore();">
                <div ng-class="{'lastAdvisorRow': $last, 'notLastAdvisorRow': !$last}" ng-repeat="element in $ctrl.service[$ctrl.service.objectName] | limitTo:$ctrl.service.mobileMaxNumDisplay track by $index">
                  <div class="image">
                    <a role="button" aria-label="{{aria.namesearch.getAdvisorDetails | translate}}" ui-sref="main.advisorLocator.advisorDetails({id: element.id})"  aria-label="{{'aria.namesearch.getAdvisorDetails' | translate}}">
                      <img aria-label="{{aria.picturePlaceholder | translate}}" ng-if="!element.profilePictureUrl" src="assets/images/advisorHeadShot.png" />
                      <img aria-label="{{aria.picturePlaceholder | translate}}" ng-if="element.profilePictureUrl" ng-src="{{element.profilePictureUrl}}" />
                    </a>
                  </div>
                  <div class="copy">
                    <p class="name"><span ng-if="element.showCommon">{{element.commonName}}</span><span ng-if="!element.showCommon">{{element.firstName}}</span> {{element.lastName}}</p>
                    <p class="location">{{element.partialBranchInfo.city}}, {{element.partialBranchInfo.provinceAbbr}}</p>
                      <p class="phone" ng-if="element.phone" ng-bind-html='element.phone | clickablePhone'></p>
                      <p class="email" ng-if="element.email" ng-bind-html='element.email | clickableEmail'></p>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div tab-index="0" aria-label="{{noSearchCriteria | translate}}" id="nosearch" ng-if="!$ctrl.service[$ctrl.service.objectName].length" translate>
        noSearchCriteria
    </div>

    <div
        ng-if="$ctrl.detectMobile.isDesktop && $ctrl.service[$ctrl.service.objectName].length > 0"
        id="pagination"
        uib-pagination
        template-url="app/features/components/paginatorInfiniteScroll/pagination.tpl.html"
        total-items="$ctrl.service[$ctrl.service.objectName].length"
        ng-model="$ctrl.service.currentPage"
        ng-change="$ctrl.service.pageChanged($ctrl.service.currentPage)"
        max-size="7"
        force-ellipses="true"
        items-per-page="$ctrl.service.numPerPage"
        previous-text="&lsaquo;"
        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
    >
  </div>
</ci-loader>
