<div
    ng-class="$ctrl.pageStateResolver.activePageName"
    autoscroll="true"
    id="branchList"
>

    <div ng-class="{'hideMap': $ctrl.branchListService.branchListLoading, 'showMap': !$ctrl.branchListService.branchListLoading}"
        class="full"
        ng-if="$ctrl.detectMobile.isDesktop"
    >
        <h2 translate>branchList.title</h2>
        <div style="display: inline-block">
            <autocomplete
                set-position="$ctrl.setPosition(position)"
                set-location="$ctrl.setLocation(location)"
                set-message="$ctrl.setMessage(message)"
                reset-markers="$ctrl.setMarkers(markers)"
                location="$ctrl.branchListService.location"
            ></autocomplete>
        </div>
        <div style="display: inline-block">
            <geo-locator
                    set-position="$ctrl.setPosition(position)"
                    set-location="$ctrl.setLocation(location)"
                    set-message="$ctrl.setMessage(message)"
                    reset-markers="$ctrl.setMarkers(markers)"
            ></geo-locator>
        </div>
        <div style="display: inline-block">
            <search-by></search-by>
        </div>
        <br /> <br />
        <google-map
                position="$ctrl.branchListService.position"
                location-list="$ctrl.branchListService.branchListView"
                marker-list="$ctrl.branchListService.markers"
                on-update-markers="$ctrl.setMarkers(markers)">
        </google-map>
        <ci-validation message-object="$ctrl.branchListService.message"></ci-validation>
        <div role="list" aria-live="polite">
        <branch-item role="listitem"
            ng-repeat="branch in $ctrl.branchListService.markers track by $index"
            item="branch"
            ng-click="$ctrl.openInfoWindow(branch.id)"
        ></branch-item>
        </div>
    </div>
    <ci-loader loading="$ctrl.branchListService.branchListLoading">
    </ci-loader>
</div>

<button ng-click="$ctrl.test()"></button>



