
    <div ng-class="$ctrl.pageStateResolver.activePageName" autoscroll="true" id="branchList">
        <div class="full" ng-if="$ctrl.detectMobile.isDesktop">
            <h2 translate>branchList.title</h2>
            <autocomplete set-position="$ctrl.setPosition(position)" set-location="$ctrl.setLocation(location)" location="$ctrl.branchListService.location"></autocomplete>
            <google-map list="true" position="$ctrl.branchListService.position" address="$ctrl.address" user-marker="$ctrl.myMarker"></google-map>

        </div>
    </div>

