<li ng-switch on="$ctrl.currentLanguage"><a class="language-link" tabindex="0" href title="{{ 'navbar.EN' | translate }}"
    analytics-on analytics-event="click" analytics-category="HEADER" analytics-label="Lang Switch to EN"
    ng-switch-when="fr" ng-click="$ctrl.changeLanguage('en')" translate>{{'navbar.EN'}}</a><a class="language-link" tabindex="0" href title="{{ 'navbar.FR' | translate }}"
    analytics-on analytics-event="click" analytics-category="HEADER" analytics-label="Lang Switch to FR"
    ng-switch-when="en" ng-click="$ctrl.changeLanguage('fr')" translate>{{'navbar.FR'}}</a></li>
