<!-- <footer> -->
    <div class="container" role="footer" aria-label="{{ 'universal.accessibility.site-wide-footer-label' | translate }}">
        <nav id="footernav" class="full" ng-if="Main.detectMobile.isDesktop">
            <ul>
                <!--
                <li><a title="{{ 'footer.link1' | translate }}"  ng-click="openInExternalBrowser(true, Footer.legalNoticeLink )"  translate>footer.link1</a></li>
                <li><a title="{{ 'footer.link2' | translate }}" ng-click="openInExternalBrowser(false, Footer.userAgreementLink )" translate>footer.link2</a></li>
                <li><a title="{{ 'footer.link3' | translate }}" ng-click="openInExternalBrowser(true, Footer.privacyPolicyLink)" translate>footer.link3</a></li>
                <li><a title="{{ 'footer.link4' | translate }}" ng-click="openInExternalBrowser(true, Footer.emailSecurityLink )" translate>footer.link4</a></li>
                -->
                <li><a title="{{ 'footer.link1' | translate }}" target="_blank" href="{{'footer.link1' | translate}}"  translate>footer.linkText1</a></li>
                <li><a title="{{ 'footer.link2' | translate }}" target="_blank" href="{{'footer.link2' | translate}}" translate>footer.linkText2</a></li>
                <li><a title="{{ 'footer.link3' | translate }}" target="_blank" href="{{'footer.link3' | translate}}" translate>footer.linkText3</a></li>
                <li><a title="{{ 'footer.link4' | translate }}" target="_blank" href="{{'footer.link4' | translate}}" translate>footer.linkText4</a></li>

            </ul>
        </nav>

        <p class="copyright" translate="copyright"
           translate-value-year="{{::( Footer.serverDate )}}"></p>
        <!--p style="margin:0 0 0 3%;color:#f00">ver 1.0.1</span-->
        <a id="cilogo" class="full" title="{{ 'universal.assante-copyright' | translate }}"  ng-click="openInExternalBrowser(true, Footer.copyrightLink )" ><img src="./assets/images/{{ 'navbar.aiologo-img' | translate }}" alt="Assante logo"></a>

        <!--a id="mobilev" class="full">Return to Mobile Version</a-->
    </div>
<!-- </footer> -->
