<header id="header"
        headroom offset="20" classes="{initial:'animated', pinned:'slideDown', unpinned:'slideUp'}">

    <div class="container">
        <div style="margin:0 0 0 3%;color:#fff;position:absolute;background:#000;">v{{ Head.version }}</div>
        <!-- <h1 id="logo"><a tabindex="0" title="{{ 'universal.aio-logo-text' | translate }}" ui-sref="main.portfolio" translate>universal.aio-logo-text</a></h1> -->
        <div id="logo" tabindex="0" title="{{ 'universal.aio-logo-link-text' | translate }}" translate><img src="./assets/images/{{ 'navbar.aiologo-img' | translate }}" alt="{{ 'universal.aio-logo-text' | translate }}"/></div>
        <!-- <div id="logo"><img src="../assets/images/{{ 'navbar.aiologo-img' | translate }}" /></div> -->
        <a id="drawerlink" class="mobile" snap-toggle="right">☰</a>

        <nav id="topnav" class="full" ng-if="Head.isDesktop" role="navigation" aria-label="{{ 'universal.accessibility.site-wide-nav-label' | translate }}">
            <ul>
                <language-switcher></language-switcher>
                <li><ci-help page="Main.pageStateResolver.activePageName" >{{ 'helpLabel' | translate }}</ci-help></li>
            </ul>
        </nav>

        <ci-font-sizer ng-if="Head.isDesktop"></ci-font-sizer>

    </div>
    <div id="bluebar">
        <div class="container">
            <div ng-if="!Head.isDesktop">
                {{Head.page.title}}
            </div>
            <nav id="primary" ng-if="Head.isDesktop" role="navigation" aria-label="{{ 'universal.accessibility.site-wide-nav-label' | translate }}">
                <ul class="full">
                    <li><a ng-class="{active: (Head.state.current.name === 'main.aio.page1')}" tabindex="0" title="{{ 'navbar.menu.page1' | translate }}" ui-sref="main.aio.page1"
                           analytics-on analytics-event="click" analytics-category="NAVIGATION" analytics-label="Page1"
                           translate>navbar.menu.page1</a></li>
                    <li><a ng-class="{active: (Head.state.current.name === 'main.aio.page2')}" tabindex="1" title="{{ 'navbar.menu.page2' | translate }}" ui-sref="main.aio.page2"
                           analytics-on analytics-event="click" analytics-category="NAVIGATION" analytics-label="Page2"
                           translate>navbar.menu.page2</a></li>
                    <li><a ng-class="{active: (Head.state.current.name === 'main.aio.page3.subpage')}" tabindex="2" title="subpage" ui-sref="main.aio.page3.subpage"
                           analytics-on analytics-event="click" analytics-category="NAVIGATION" analytics-label="Page3"
                           translate>navbar.menu.page3.subpage</a></li>
                    <li><a ng-class="{active: (Head.state.current.name === 'main.aio.page4')}" tabindex="3" title="{{ 'navbar.menu.page4' | translate }}" ui-sref="main.aio.page4"
                           analytics-on analytics-event="click" analytics-category="NAVIGATION" analytics-label="Page4"
                           translate>navbar.menu.page4</a></li>
                    <li><a ng-class="{active: (Head.state.current.name === 'main.aio.page5')}" tabindex="4" title="{{ 'navbar.menu.page5' | translate }}" ui-sref="main.aio.page5"
                           analytics-on analytics-event="click" analytics-category="NAVIGATION" analytics-label="Page5"
                           translate>navbar.menu.page5</a></li>
                </ul>
                <h2 ng-if="!Head.isDesktop">{{Head.pageTitle}}</h2>

                <!-- <span class="select mobile"><select id="sel_account" title="Select an account">
                    <option value="#overview">Portfolio Overview</option>
                    <option value="#123456789" selected="">RRSP 123456789</option>
                    <option value="#987654321">TFSA 987654321</option>
                </select></span> -->
            </nav>
        </div>
    </div>
</header>
