
    <div ng-class="$ctrl.pageStateResolver.activePageName" autoscroll="true" id="advisorDetails">
        <div class="full" ng-if="$ctrl.detectMobile.isDesktop">
            <button translate>advisorDetail.searchResultsButton</button>
            <br>
            <br>
            <h2 translate>advisorDetail.title</h2>
            <br>
            <!-- ADVISOR DETAILS -->
            <div>

                <table>
                <div>
                    <div style="display:inline-block;vertical-align:top;">
                        <img src="{{$ctrl.advisorDetailService.advisorDetail.profilePictureUrl}}" translate  alt="{{ 'advisorDetail.advisorImageAlt' | translate }}">
                    </div>


                    <div style="display:inline-block;">
                        <span>{{$ctrl.advisorDetailService.advisorDetail.firstName + ' ' + $ctrl.advisorDetailService.advisorDetail.lastName}}</span><br>
                        <span ng-repeat="title in $ctrl.advisorDetailService.advisorDetail.titles" bn-repeat-delimiter=",">{{title}}{{$last ? '' : ', '}}</span>
                        <span>{{$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.address1}},{{$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.address2}}</span><br>
                        <span>{{$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.city}},{{$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.provinceAbbr}} {{$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.postalCode}}</span>
                    </div>
                </div>

                    <tr>
                        <td translate>advisorDetail.telephone</td>
                        <td class="price extra">{{$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.phone}}</td>
                    </tr>
                    <tr>
                        <td translate>advisorDetail.tollFree</td>
                        <td>{{$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.tollFree}}</td>
                    </tr>
                    <tr>
                        <td translate>advisorDetail.email</td>
                        <td>{{$ctrl.advisorDetailService.advisorDetail.email}}</td>
                    </tr>
                    <tr>
                        <td translate>advisorDetail.alternateEmail</td>
                        <td>{{$ctrl.advisorDetailService.advisorDetail.altEmail}}</td>
                    </tr>
                    <tr >
                        <td translate>advisorDetail.website</td>
                        <td>{{$ctrl.advisorDetailService.advisorDetail.website}}</td>
                    </tr>
                    <tr>
                        <td translate>advisorDetail.spokenLanguages</td>
                        <td>{{$ctrl.advisorDetailService.advisorDetail.spokenLanguages}}</td>
                    </tr>

                </table>
                <br>
                <google-map address="" user-marker="$ctrl.advisorDetailService.advisorDetail.userMarker"></google-map><br>
                <a href='https://www.assanteservices.com/aiol/#/en/aio/en/contact' translate>advisorDetail.branchDetailsLink</a><br>

                <span translate>advisorDetail.contactUsNote</span>
            </div>

        </div>
    </div>



