<ci-loader loading="$ctrl.advisorService.isLoading">
    <div ng-class="$ctrl.pageStateResolver.activePageName" autoscroll="true" id="advisorDetails" class="locatorpage">
        <div ng-if="$ctrl.detectMobile.isDesktop">
            <div id="card">
                <button ng-if="$ctrl.stateTrackerService.previousState.name == 'main.advisorLocator.advisorList'"ui-sref="{{$ctrl.stateTrackerService.previousState.name}}" translate>advisorDetail.searchResultsButton</button>
                <button ng-if="$ctrl.stateTrackerService.previousState.name != 'main.advisorLocator.advisorList'" ui-sref="{{$ctrl.stateTrackerService.previousState.name}}" translate>advisorDetail.backButton</button>
                <div id="photo">
                    <img ng-if="!$ctrl.advisorDetailService.advisorDetail.profilePictureUrl" alt="{{ 'advisorDetail.advisorImageAlt' | translate }}" src="assets/images/advisorHeadShot.png" />
                    <img ng-if="$ctrl.advisorDetailService.advisorDetail.profilePictureUrl" alt="{{ 'advisorDetail.advisorImageAlt' | translate }}" ng-src="{{$ctrl.advisorDetailService.advisorDetail.profilePictureUrl}}" />
                </div>
                <div id="advisor">
                    <p class="name" ng-if="$ctrl.perviousStateIsNameSearch"><span ng-if="$ctrl.advisorDetailService.advisorDetail.showCommon">{{$ctrl.advisorDetailService.advisorDetail.commonName}}</span><span ng-if="!$ctrl.advisorDetailService.advisorDetail.showCommon">{{$ctrl.advisorDetailService.advisorDetail.firstName}}</span> {{$ctrl.advisorDetailService.advisorDetail.lastName}}</p>
                    <p class="name" ng-if="!$ctrl.perviousStateIsNameSearch"><span ng-if="$ctrl.advisorDetailService.advisorDetail.commonName">{{$ctrl.advisorDetailService.advisorDetail.commonName}}</span><span ng-if="!$ctrl.advisorDetailService.advisorDetail.commonName">{{$ctrl.advisorDetailService.advisorDetail.firstName}}</span> {{$ctrl.advisorDetailService.advisorDetail.lastName}}</p>
                    <p class="designation"><span ng-if="$ctrl.advisorDetailService.advisorDetail.designations.length" ng-repeat="designation in $ctrl.advisorDetailService.advisorDetail.designations track by $index"><span ng-bind-html="designation"></span>{{$last ? '' : ', '}}</span></p>
                    <p class="title"><span ng-if="$ctrl.advisorDetailService.advisorDetail.titles.length" ng-repeat="title in $ctrl.advisorDetailService.advisorDetail.titles track by $index"><span ng-bind-html="title"></span>{{$last ? '' : ', '}}</span></p>
                </div>
                <div id="details">
                    <dl>
                      <dt ng-if="$ctrl.advisorDetailService.advisorDetail.phone" translate>advisorDetail.telephone</dt>
                      <dd ng-if="$ctrl.advisorDetailService.advisorDetail.phone">{{$ctrl.advisorDetailService.advisorDetail.phone}}</dd>

                      <dt ng-if="$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.fax" translate>advisorDetail.fax</dt>
                      <dd ng-if="$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.fax">{{$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.fax}}</dd>

                      <dt ng-if="$ctrl.advisorDetailService.advisorDetail.email" translate>advisorDetail.email</dt>
                      <dd ng-if="$ctrl.advisorDetailService.advisorDetail.email"><a href="mailto:{{$ctrl.advisorDetailService.advisorDetail.email}}">{{$ctrl.advisorDetailService.advisorDetail.email}}</a></dd>

                      <dt ng-if="$ctrl.advisorDetailService.advisorDetail.website" translate>advisorDetail.website</dt>
                      <dd ng-if="$ctrl.advisorDetailService.advisorDetail.website"><a target="_blank" href="{{$ctrl.advisorDetailService.advisorDetail.website}}">{{$ctrl.advisorDetailService.advisorDetail.website}}</a></dd>

                      <dt ng-if="$ctrl.advisorDetailService.advisorDetail.spokenLanguage" translate>advisorDetail.spokenLanguages</dt>
                      <dd ng-if="$ctrl.advisorDetailService.advisorDetail.spokenLanguage == 'Bilingual'">English and French</dd>
                      <dd ng-if="!($ctrl.advisorDetailService.advisorDetail.spokenLanguage =='Bilingual') && ($ctrl.advisorDetailService.advisorDetail.spokenLanguage)">{{$ctrl.advisorDetailService.advisorDetail.spokenLanguage}}</dd>
                    </dl>
                </div>
                <div id="branch">
                    <h4 ng-if="$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.dealerShip">{{$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.dealerShip==="ACM" ? "Assante Capital Management Ltd.": "Assante Financial Management Ltd."}}</h4>
                    <h5 ng-if="$ctrl.advisorDetailService.advisorDetail.styleName">{{$ctrl.advisorDetailService.advisorDetail.styleName}}</h5>
                    <p class="address"><span ng-if="$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.address1">{{$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.address1}}</span><span ng-if="$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.address2">, {{$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.address2}}</span><br/>
                    <span ng-if="$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.city">{{$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.city}},</span> {{$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.provinceAbbr}} {{$ctrl.advisorDetailService.advisorDetail.partialBranchInfo.postalCode}}</p>
                    <p class="branchlink"><a ui-sref='main.advisorLocator.branchDetails({id: $ctrl.advisorDetailService.advisorDetail.partialBranchInfo.id})' translate>advisorDetail.branchDetailsLink</a></p>
                </div>
            </div>
            <div id="map" lazy-load-update="https://maps.google.com/maps/api/js" lazy-load-update-params="{{$ctrl.googleMapsUrl}}">
                <google-map address="$ctrl.advisorDetailService.advisorDetail.fullAddress" user-marker="$ctrl.advisorDetailService.advisorDetail.userMarker" location="$ctrl.location"></google-map>
            </div>
            <!-- <span translate>advisorDetail.contactUsNote</span> -->
        </div>
    </div>
</ci-loader>
